:root {
  font-size: 20px;
  font-family: Helvetica, Arial;
  width: 20px;
  height: 20px;

}

/* body consists of header and main */
/* header takes 1/3 and main takes 2/3 of the body */
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  columns: 3;

    
  height: 3000px;
  width: 1300px;
  padding-left: 650px;
  padding-right: 600px;

  border-style: dotted;
}

